body {
    transition: background-color 0.5s, color 0.5s;
}

.theme-dark {
    background-color: #121212;
    color: white;
}

.theme-light {
    background-color: white;
    color: black;
}

.bg-dark {
    background-color: #1e2022 !important;
    color: white !important;
}

.btn-dark {
    background-color: #343a40 !important;
    border-color: #343a40 !important;
    color: white !important;
}

.form-control-dark {
    background-color: #495057 !important;
    border-color: #6c757d !important;
    color: white !important;
    border-radius: 0.25rem !important;
}

.form-control-dark:focus {
    background-color: #343a40 !important;
    color: white !important;
}

.modal-dark .modal-content {
    background-color: #343a40 !important;
    color: white !important;
}

.btn-rounded {
    border-radius: 50%;
    background-color: #474747;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.btn-rounded i {
    font-size: 1.2rem;
}

/* Switch Styles */
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(14px);
}
.text-decoration-none {
    text-decoration: none;
    color: #808080; /* Cinza */
    font-size: 14px; /* Tamanho da fonte */
}